.drawer-wrapper {
  max-width: 100%;
  .line {
    width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: rgb(25, 48, 68);
    }
    a {
      cursor: pointer;
    }
    .line-title {
      display: inline;
      list-style: none;
      padding-right: 3rem;
      cursor: pointer;
    }
    .p {
      display: inline;
      vertical-align: text-top;
    }
  }
  .li-item {
    height: 32px;
    padding: 6px 36px;
    list-style: none;
    cursor: pointer;
    transition: all 0.4s linear;
    line-height: 1.2;
    &:hover {
      background-color: rgb(25, 48, 68);
    }
  }

  .content {
    max-height: 0;
    overflow: hidden;
  }
  .content-active {
    max-height: 300px;
  }
  .trans > div {
    transition: all 0.3s ease;
  }
}
