.login_wrapper {
  height: 100%;
}
.login_wrapper {
  background: url(../../img/login.jpg) center/cover no-repeat;
  .wrapper {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    #stu {
      visibility: hidden;
      &:checked ~ .login_btn {
        animation: fadeout 1s forwards 0.5s;
      }
      &:checked ~ .student-wrapper {
        animation: fadeout 1s forwards 0.5s;
      }
      &:checked ~ .teacher-wrapper {
        animation: fadeout 1s forwards 0.5s;
      }
      &:checked ~ .form-wrapper {
        transform: scale(1);
      }
    }
    #tech {
      visibility: hidden;
      &:checked ~ .login_btn {
        animation: fadeout 1s forwards 0.5s;
      }
      &:checked ~ .teacher-wrapper {
        animation: fadeout 1s forwards 1.5s;
      }
      &:checked ~ .form-wrapper-1 {
        transform: scale(1);
      }
    }
    .student-wrapper,
    .teacher-wrapper {
      display: block;
      width: 120px;
      height: 120px;
      position: absolute;
      top: 40%;
      left: 38%;
      background-color: #fff;
      text-align: center;
      padding: 3rem 0;
      box-sizing: border-box;
      border-radius: 50%;
      transform: scale(0);
      font-size: 1.2rem;
      color: rgb(144, 164, 174);
    }
    .teacher-wrapper {
      top: 28%;
      left: 47%;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
  .check {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 80px;
    z-index: 5;
    opacity: 0;
    &:checked ~ .student-wrapper {
      animation: pop 2s ease-in forwards 1.5s infinite;
    }
    &:checked ~ .teacher-wrapper {
      animation: pop 2s ease-in forwards 1.5s infinite;
    }
    &:checked ~ .login_btn {
      animation: none;
    }
  }

  .login_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 80px;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    z-index: 4;
    transition: all 0.5s 0.5s;
    .login {
      width: 100%;
      height: 90%;
    }

    transform-origin: left;
    animation: skipping 2.5s ease-in forwards 0.5s infinite;
    &:hover {
      animation-play-state: paused;
    }
  }
  @keyframes skipping {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(45deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .form-wrapper,
  .form-wrapper-1 {
    width: 500px;
    min-height: 400px;
    background-color: rgba(221, 218, 218, 0.7);
    position: fixed;
    left: 30%;
    top: 20%;
    border-radius: 4%;
    transform: scale(0);
    transition: all 1.5s ease;
    text-align: center;
    z-index: 999;
    h2 {
      font-weight: 300;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      color: rgba(0, 0, 0, 0.5);
    }
    .form-text {
      width: 80%;
      margin-bottom: 1rem;
    }
    .form-text:first-child {
      margin: 2rem;
    }
    .form-text:last-child {
      text-align: left;
    }
    transition: all 1.5s 0.5s;
    .btn-account {
      width: 80%;
      text-align: center;
      margin-left: 3rem;
      margin-top: 1rem;
      .btn {
        width: 100%;
      }
    }
    .sign-link {
      a {
        text-decoration: none;
      }
      margin-top: 0.8rem;
      text-align: right;
      font-weight: 100;
      cursor: pointer;
      h4 {
        color: rgba(63, 81, 181, 0.8);
      }
    }
  }
}
